body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.para1 {
    text-align: justify;
}

.link-button {
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(to right, red, green, blue);
    padding: 10px 40px;
    border-radius: 10PX;
    color: white;
}

.link-button:hover {
    color: red;
    background-color: green;
}

.para2 {
    text-align: justify;
    padding-right: 10px;
}

.side-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 0;
}